article
	include ../../ui/bread
	h1 Обеденные столы оптом и в розницу
	p Обеденные столы для кухни предназначены для сервировки завтраков, обедов и ужинов. При изготовлении кухни на заказ и при покупке готового набора кухонной мебели обеденный стол чаще всего включен в комплект, что помогает добиться идеального стиля и цветового сходства всех предметов обстановки. Покупка одиночного стола подходит для тех случаев, когда речь идет об интерьере отдельной столовой комнаты, в которой обеденный стол должен сочетаться не с кухней, а с буфетом, стульями и другой мебелью.

	.row
		.sort.desc
			span Цена
			.arrows
				.arrow-up
				.arrow-down
		a.filter(href="#") Показать / Спрятать фильтр

	include ./prod-list