block variables
.thumbs
	img.main-thumb.active(src="/assets/img/pages/table/t0.jpg")
	if thick == 36
		include color.supply.pug

	if thick == 36
		img.scheme(src="/assets/img/pages/table/scheme.jpg")

	if thick == 18
		img.scheme(src="/assets/img/pages/table/scheme.jpg")

	if thick == 'flavia'
		img.scheme(src="/assets/img/pages/table/scheme_flavia.jpg" height="42")
		img.scheme(src="/assets/img/pages/table/scheme_flavia2.jpg" height="42")

	if thick == 'sindi'
		img.scheme(src="/assets/img/pages/table/scheme_sindi.jpg" height="42")
		img.scheme(src="/assets/img/pages/table/scheme_sindi2.jpg" height="42")


	if thick == 36
		img.m-chrome(src="/assets/img/pages/table/m-chrome.jpg")
		img.chrome(src="/assets/img/pages/table/chrome.jpg")

	if thick == 18
		img.chrome(src="/assets/img/pages/table/chrome.jpg")

	img.material(src="/assets/img/pages/table/material.jpg")