article
	include ../../ui/bread
	h1 Полки навесные
	p Иногда, для того чтобы сделать свой дизайн интерьера исключительным, совсем не обязательно прибегать к услугам дорогостоящих специалистов или покупать эксклюзивную и дорогую мебель. Ведь оформление интерьера комнаты — это не рутинное занятие, а самое что ни на есть созидательный процесс преображения пространства. Поэтому порой, для придания комнате определенного индивидуального стиля, бывает достаточно самых обычных и бесхитростных предметов, которые своим присутствием разбавят монотонность интерьера, делая его более динамичным и функциональным. Такими элементами являются — стеллажи и настенные полки, при выборе которых важно лишь учесть гармонию их форм и расцветок с окружающим интерьером, не забывая при этом об их главном функциональном предназначении.

	.row
		.sort
			span Цена
			.arrows
				.arrow-up
				.arrow-down
		a.filter(href="#") Показать / Спрятать фильтр

	include ./prod-list