ul.pagination
  li.page-item.disabled
    a.page-link(href='#') &Pcy;&iecy;&rcy;&vcy;&acy;&yacy;
  li.page-item.disabled
    a.page-link(href='#') &laquo;
  li.page-item.active
    a.page-link(href='catalog/shelves/') 1
  li.page-item
    a.page-link(href='catalog/shelves/?page=2') 2
  li.page-item
    a.page-link(href='catalog/shelves/?page=3') 3
  li.page-item
    a.page-link(href='catalog/shelves/?page=4') 4
  li.page-item
    a.page-link(href='catalog/shelves/?page=5') 5
  li.page-item
    a.page-link(href='catalog/shelves/?page=2') &raquo;
  li.page-item
    a.page-link(href='catalog/shelves/?page=65') &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&yacy;&yacy;
