ul#new-list
  li.item
    img(src="/assets/img/pages/shelves/01.jpg" width="325" height="423")
    a.title(href="/shelf.html") Полка навесная "Арфа" П-1.2А Дуб Галифакс табак/черный держатель
    span.size 800 x 150 x 150
    span.article Артикул 3051
    span.price 145 р.
  li.item
    img(src="/assets/img/pages/shelves/01.jpg" width="325" height="423")
    a.title(href="/shelf.html") Полка навесная "Арфа" П-1.2А Дуб Галифакс табак/черный держатель
    span.size 800 x 150 x 150
    span.article Артикул 3051
    span.price 145 р.
  li.item
    img(src="/assets/img/pages/shelves/01.jpg" width="325" height="423")
    a.title(href="/shelf.html") Полка навесная "Арфа" П-1.2А Дуб Галифакс табак/черный держатель
    span.size 800 x 150 x 150
    span.article Артикул 3051
    span.price 145 р.
  li.item
    img(src="/assets/img/pages/shelves/01.jpg" width="325" height="423")
    a.title(href="/shelf.html") Полка навесная "Арфа" П-1.2А Дуб Галифакс табак/черный держатель
    span.size 800 x 150 x 150
    span.article Артикул 3051
    span.price 145 р.
