article
	h1 Доставка и оплата
	h2 Для юридических лиц
	h3 Оплата заказа
	p Оплата осуществляется посредством перечисления денежных средств на расчетный счет Продавца. Условия оплаты согласовываются индивидуально на каждую партию товара.

	p Цены на сайте указаны розничные. Для оптовых продаж предоставляется скидка до 30% в зависимости от партии товара.

	h3 Доставка
	p Возможные варианты доставки Вашего заказа:

	ul
		li самовывоз со склада в Минске по адресу: 223056, Минская обл., Минский р-н, п. Юбилейный, ул. Коммунальная, д. 4А;
		li доставка за счет Продавца осуществляется по г. Минску при заказе от 5ти столов.
		li доставка транспортными компаниями (службами доставки) в любой город РБ за счет Покупателя.

	p Получить товар на условиях самовывоза можно после подтверждения поступления 100% оплаты на расчетный счет продавца. После получения оплаты наши сотрудники в кратчайшие сроки скомплектуют заказ, и свяжутся с Вами по вопросам отпуска товара.

	h3 Сроки доставки:

	ul
		li товар, имеющийся в наличии на складе, доставляется по Минску от 1 до 3 дней.
		li товар, изготавливающий под заказ, доставляется по Минску в течение 10-14 дней.

	p Разгрузочные работы осуществляются силами покупателя!

	p Покупая в нашем интернет-магазине, Вы получаете либо товарную накладную (ТН), либо товарно-транспортную накладную (ТТН).
	p Вопросы по срокам или вариантам доставки, наличию товара, заказам Вы можете уточнить по телефону: +375 29 348 40 04 (Viber, WhatsApp) либо по эл. почте order@stoly.by

	h2 Для физических лиц
	h3 Оплата заказа
	p Оплата заказа может осуществляться:

	p
		b 1. Оплата курьеру при доставке:

	p • наличными (только в белорусских рублях);

	p <b>2. Оплата в пункте самовывоза по адресу:</b> 223056, Минская обл., Минский р-н, п. Юбилейный, ул. Коммунальная, д. 4А;

	p • наличными (только в белорусских рублях).

	h3 Доставка
	p Возможные варианты доставки Вашего заказа:
	ul
		li самовывоз со склада в Минске по адресу: 223056, Минская обл., Минский р-н, п. Юбилейный, ул. Коммунальная, д. 4А;
		li доставка Покупателю по г. Минску 10 бел. руб. При заказе от 300 руб. доставка осуществляется бесплатно.
	h3 Как оформить заказ

	p Существует два способа оформления заказа на сайте stoly.by:

	ul
		li Оформление заявки через сайт
		li Звонок по телефону: +375 29 348 40 04 Velcom

	p Для оформления заказа через сайт необходимо:

	p Выбрать понравившийся товар, нажать кнопку «В корзину», после чего выбрать один из двух пунктов: "Перейти в корзину" или "Продолжить покупки".
	p Если вы выбрали пункт "Перейти в корзину" и хотите оформить заказ, нужно указать количество товара, ввести необходимые данные и нажать кнопку «Отправить».
	p Если при оформлении заказа через сайт у вас возникли трудности, вы можете позвонить по телефонам, указанным выше. Консультант поможет вам оформить заказ.
	p <b>Важно!</b> Просьба уточнять наличие товара на складе по телефону: +375 29 348 40 04