footer
	.scripts-area
	.wrapper
		span.copy © Все права защищены
		a.phone(href="tel:+375 44 596 49 17") +375 44 596 49 17
		a.mail(href="mailto:order@stoly.by") order@stoly.by
		button.outline Заказать звонок
#mobile-menu
	ul
		li
			a(href="#") Столы
		li
			a(href="#") Полки
		li
			a(href="#") Доставка 
		li
			a(href="#") Корзина 
		li
			a(href="#") Контакты
	hr
	p
		a(href="#") +375 44 596 49 17
	p
		a(href="#") order@stoly.by	
