footer
	.scripts-area
		script(src="/vendors/nprogress.js")
	.wrapper
		.copy
			ul
				li Декларация о соответствии № BY/112 11.01. ТР025 024 05183
				li Действительна по 09.02.2026г. включительно
				li Дата включения сведений в торговый реестр: 28.04.2021
				li Регистрационный номер в торговом реестре: 508698
		a.phone(href="tel:+375 44 596 49 17") +375 44 596 49 17
		a.mail(href="mailto:order@stoly.by") order@stoly.by
		button.outline Заказать звонок
#mobile-menu
	ul
		li
			a(href="#") Столы
		li
			a(href="#") Полки
		li
			a(href="#") Доставка 
		li
			a(href="#") Корзина 
		li
			a(href="#") Контакты
	hr
	p
		a(href="#") +375 44 596 49 17
	p
		a(href="#") order@stoly.by	
