.left
	h1 Контакты
	ul.ip
		li ИП Тузкова Л.В.
		li УНП 193467216
	p.grey
		span.dot.red • 
		span order@stoly.by
	ul.grey
		li
			span.dot •
			span +375 44 596 49 17
		li
			span.dot •
			span +375 25 953 85 27
	ul.social
		li.viber
			a(href='viber://chat/?number=%2B375445964917')
				img(src='/assets/img/viber.svg')
		li.wa
			a(href='https://api.whatsapp.com/send?phone=375445964917')
				img(src='/assets/img/whatsapp.svg')
.right
	iframe.lazyload(data-src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d75207.90570291744!2d27.497940901416023!3d53.90958565910794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1614371535683!5m2!1sru!2sby' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')

