extends ../layout/small_tables/index.pug

block variables
  - var title = 'Small Tables';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'category-page small_tables-page';
  - var name = 'smtp'
