extends ../small_table/index.pug

block variables
  - var title = 'Small Table';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'category-page small_table-page';
  - var name = 'smtp'
