block variables
include filter/index.pug
article
	.main_photo

		img(src=`/assets/img/pages/table/${thick}.jpg` width="677" height="469")
	include thumbs/index.pug
	.wrap
		.mobile.name
			span.h1 Обеденный стол Дуб бардолино натуральный 36мм (опора хром)
			span.article Артикул 2267
		span.price 250.9 руб.
		.buttons
			a.one(href="#")
				img(src="/assets/img/pages/table/click.svg")
				span Купить в 1 клик
			a.cart(href="#")
				img(src="/assets/img/pages/table/cart.svg")
				span В корзину
		.description
			p Стол обеденный прямоугольный на круглых опорах с толстой столешницей 36 мм, выполненный в структурном древесном декоре черного цвета - имитация Черного Дерева. Рельеф этой структуры образует годичные кольца, идущие вдоль распила древесины. Матовые и глянцевые участки в древесной текстуре позволяют структуре придать столешнице интересный, но при этом натуральный облик. Возможно выбрать цвет опор.		
