body.category-page
	&.small_table-page
		section
			justify-content: center
		article
			display: flex
			margin-left: 0
			.left
				margin-right: 39px
				min-width: 574px
			.right
				h1
					font-size: 30px
					font-weight: normal	
					color: #111
				.thumbs
					display: flex
					justify-content: space-between
					gap: 1rem
					flex-wrap: wrap
					margin-bottom: 1rem
					img
						border: 1px solid transparent
						&.active
							border-color: $red
				.size, .article
					color: #727272
					display: block
					font-size: 14px
					margin-bottom: 5px
				.price
					font-size: 30px
					color: $red
					display: block
					font-weight: bold
				.dsc
					font-size: 14px
	section
		width: 1140px
		margin: 1rem auto
		display: flex
		@media(max-width: 1140px)
			width: 100%
			padding: 0 1rem
				
		article
			margin-left: 40px
			@media(max-width: 650px)
				margin-left: 1rem
			.row
				display: flex
				align-items: center
				a.filter
					font-size: 13px
					border-bottom: 1px dashed $red
					&:hover
						border-bottom-color: #ccc
					@media(min-width: 650px)	
						display: none
				.sort
					display: flex
					align-items: center
					margin-right: 1rem
					> *
						pointer-events: none
					&:hover
						cursor: pointer
						span
							color: $red	
					span
						padding-right: 10px
					.arrows
						.arrow-up
							width: 0
							height: 0
							border-left: 5px solid transparent
							border-right: 5px solid transparent
							border-bottom: 5px solid #333
							margin-bottom: 2px
						.arrow-down
							width: 0
							height: 0
							border-left: 5px solid transparent
							border-right: 5px solid transparent
							border-top: 5px solid #333
					&.asc
						.arrow-up
							border-bottom-color: $red	
					&.desc
						.arrow-down
							border-top-color: $red		
			.prod-list
				margin-top: 1rem
				display: flex
				flex-wrap: wrap
				a.card
					margin-right: 1rem
					margin-bottom: 1rem
body.shelves
	ul#new-list
		justify-content: flex-start
		gap: 1rem
body.shelf-page
	section.h1
		border: none
		h1
			font-size: 41px
			margin: 1rem 0
	.filter
		min-width: 461px
	article
		margin-left: 1rem
	.imgwrap
		display: flex
		max-width: 519px
		gap: 1rem
		margin-top: 1rem
		.thumbs
			img
				border: 1px solid transparent
				&.active
					border-color: $red
	.wrap
		.buttons
			justify-content: flex-start !important
			gap: 1rem
		span.size, span.article, span.price
			display: block
			color: #727272	
		span.article
			margin: 10px 0
		span.price
			font-size: 30px
			color: $red
			font-weight: 600		

		
ul#new-list
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	li.item
		max-width: 325px
		position: relative
		>*
			display: block
			margin: 7px 0
		a
			color: #111
			&:hover
				color: $red
			&:after
				content: ""
				position: absolute
				inset: 0
		.size, .article
			color: #727272
			font-size: 14px
		.price
			font-weight: bold
			font-size: 18px
			color: $red	

.buttons
	display: flex
	gap: 1rem
	margin-top: 1rem
	button
		display: flex
		align-items: center
		border: none
		background-color: transparent
		cursor: pointer
		border-radius: 3px
		font-size: 14px
		padding: 10px 20px 10px 10px
		&:hover
			background-color: #eee
		img
			margin-right: 15px
		&.click
			border: 1px solid $red
			color: $red
			
		&.cart
			border: 1px solid #FFAC58
			color: #FA942D
			>*
				pointer-events: none			