article
	include ../../ui/bread
	h1 Стеллажи
	p Стеллажи – это предмет интерьера, который состоит из нескольких полок, которые установлены на стойках или боковых стенках. Они применяются для хранения различных вещей. Бывают полностью открытые, либо частично закрытые.  На его открытых полках можно поставить книги, игрушки или элементы декора.
	p Стеллаж небольших размеров удачно впишется даже в самую маленькую комнату. Его конструкция прочная и устойчивая. Поставьте на полки любимые фотографии, сувениры и фигурки и свечи. Декор поможет создать уютную атмосферу, поэтому используйте стеллажи и полки как дополнительное место для размещения аксессуаров для обустройства дома. Изделие прослужит долгие годы, и ему всегда найдется применение.
	p В нашем магазины представлены стеллажи прямых моделей «Сильвия» и стеллажи с геометрическим решением «Глория». Стеллажи «Сильвия» могут быть как открытые, так и закрытые, с гладкими и декоративными фасадами. Стеллажи «Глория» состоят из нескольких составных модулей, что позволяет составить стеллаж по вашему усмотрению: высокий узкий на 3 модуля или широкий квадратный на 4 модуля. Все стеллажи выполнены из качественного ЛДСП Egger, на высокотехнологичном немецком оборудовании.


	include ./prod-list