//- article
//- 	.main_photo
//- 		img(src="/assets/img/pages/small_table/versal_1_H3734st9.jpg" width="677" height="459")
//- 	.thumbs
//- 		img.active(src="/assets/img/pages/small_table/t1.jpg" width="60" height="42" data-origin="/assets/img/pages/small_table/versal_1_H3734st9.jpg")
//- 		img(src="/assets/img/pages/small_table/t2.jpg" width="60" height="42" data-origin="/assets/img/pages/small_table/2_versal_1_H3734st9.jpg")
//- 		img(src="/assets/img/pages/small_table/t400.jpg" width="60" height="42" data-origin="/assets/img/pages/small_table/400.jpg")
//- 		img(src="/assets/img/pages/small_table/to.jpg" width="60" height="42" data-origin="/assets/img/pages/small_table/o.jpg")
//- 		img(src="/assets/img/pages/small_table/tdj.jpg" width="60" height="42" data-origin="/assets/img/pages/small_table/dj.jpg")

//- 	.wrap
//- 		span.h1 Столик кофейный "Версаль" 1.1.Vr Орех дижон натуральный
//- 		span.article Артикул 3077
//- 		ul.chars
//- 			li Высота опор: 400 мм
//- 			li Размер столешницы: 150 x 150 x 400 мм
//- 		span.price 113.29 руб.

//- 		.buttons
//- 				a.one(href="#")
//- 					img(src="/assets/img/pages/table/click.svg")
//- 					span Купить в 1 клик
//- 				a.cart(href="#" data-prodid="30")
//- 					img(src="/assets/img/pages/table/cart.svg")
//- 					span В корзину
//- 		.description
//- 			p Храните ваши любимые безделушки и другие личные вещи на полке «Лайн». Изделие изготовлено из прочного и легкого материала, который можно использовать для хранения практически чего угодно. Вы можете использовать ее для хранения небольших предметов либо книг.
//- 			p  Вы также можете использовать ее в прихожей и гостиной. Установка полки занимает всего несколько минут. Полка выполнена в классическом черном декоре на черных консолях, что позволяет ей отлично вписаться в любой интерьер.

article
	.left
		img.main(src="/assets/img/pages/small_table/01.jpg")
	.right
		.thumbs
			img.active(src="/assets/img/pages/small_table/thumbs/01.jpg")
			img(src="/assets/img/pages/small_table/thumbs/02.jpg")
			img(src="/assets/img/pages/small_table/thumbs/03.jpg")
			img(src="/assets/img/pages/small_table/thumbs/04.jpg")
			img(src="/assets/img/pages/small_table/thumbs/05.jpg")
			img(src="/assets/img/pages/small_table/thumbs/06.jpg")
			img(src="/assets/img/pages/small_table/thumbs/07.jpg")
		h1 Столик кофейный "Версаль" СтК-1.1.Вс Дуб бардолино натуральный/черная опора 500х400
		span.size 500 x 500 x 420
		span.article Артикул 3051
		span.price 145 р.

		.buttons
			button.click
				img(src="/assets/img/pages/small_table/click.svg")
				span Купить в 1 клик
			button.cart(data-prodid="3045")
				img(src="/assets/img/pages/small_table/cart.svg")
				span В корзину
		.dsc
			p Очень часто, чтобы изменить настроение интерьера, хватает всего лишь одной новой детали – такой, например, как кофейный столик. Это не только красивый предмет мебели, но и верный помощник. Мы подобрали для Вас несколько вариантов столешниц, в классических древесных декорах, а также в современных мраморных и каменных расцветках. Высота опор может быть как низкая, так и высокая. Столик на высоких опорах вполне может служить Вам, как подставка для цветов, либо других изящных предметов интерьера. Кофейный столик «Версаль» станет достойным украшением Вашей гостиной или спальни.		

