block variables
include ../bread
article
	.main_photo
		img(src=`/assets/img/pages/rack/1_gloria_1.1.jpg` width="677" height=`469`)
	.thumbs
		img.scheme.active(src="/assets/img/pages/table/scheme.jpg" data-origin="/assets/img/pages/small_table/versal_1_H3734st9.jpg")
		img.scheme(src="/assets/img/pages/table/scheme.jpg" data-origin="/assets/img/pages/small_table/versal_1_H3734st9.jpg")
	.wrap
		h1 Стеллаж "Глория" открытый высокий на 3 модуля СтГ -1.1.ОВ_белый
		ul
			li.acticle
				span Артикул 
				span 2430
			li.material
				span Материал / цвет 
				span Белый декор
			li.model
				span Модель 
				span Глория
			li.size
				span Размер полки 
				span 210 х 70 х 35
		span.price 360 руб.
		.buttons
			a.one(href="#")
				img(src="/assets/img/pages/table/click.svg")
				span Купить в 1 клик
			a.cart(href="#" data-prodid="30")
				img(src="/assets/img/pages/table/cart.svg")
				span В корзину
		
