.filter
	h1 Полка навесная "Мелоди" П-1.5М Дуб Галифакс натуральный/черный держатель
	span.article Артикул 2001
	.item.color.bb
		h3 Цвет полкодержателя
		ul
			li
				.box.black
				span Черный
			li
				.box.white
				span Белый
	.item.size
		h3 Размер полочки, ш * г * в, мм
		ul
			li
				label
					input(type="radio" name="size")
					span 600 x 200 x 150
			li
				label
					input(type="radio" name="size")
					span 800 x 200 x 150
			li
				label
					input(type="radio" name="size")
					span 600 x 140 x 95
			li
				label
					input(type="radio" name="size")
					span 800 x 140 x 95
			li
				label
					input(type="radio" name="size")
					span 600 x 250 x 170
			li
				label
					input(type="radio" name="size")
					span 800 x 250 x 170
	.item.supply-chars
		h3 Характеристики полкодержателя
		ul
			li
				span Материал
				span Zn, Al
			li
				span Высота
				span 110, 140 мм	
			li
				span Длина
				span 145, 190 мм	
			li
				span Бренд
				span AKS
	.item.deck
		h3 Характеристики столешницы
		ul
			li
				span Производитель
				span Egger, Austria
			li
				span Материал столешницы
				span ЛДСП
			li
				span Толщина
				span 18 мм	


					 	

article
	.main_photo
		img(src="/assets/img/pages/shelf/01.jpg" width="677" height="459")
	.thumbs
		img.active(src="/assets/img/pages/shelf/t1.jpg" width="60" height="42")
		img(src="/assets/img/pages/shelf/t2.jpg" width="60" height="42")
		img(src="/assets/img/pages/shelf/t3.jpg" width="60" height="42")
		img(src="/assets/img/pages/shelf/t4.jpg" width="60" height="42")
	.wrap
		.mobile.name
			span.h1 Полка навесная "Мелоди" П-1.5М Дуб Галифакс натуральный/черный держатель
			span.article Артикул 2001
		span.price 53.3 руб.
		.buttons
				a.one(href="#")
					img(src="/assets/img/pages/table/click.svg")
					span Купить в 1 клик
				a.cart(href="#")
					img(src="/assets/img/pages/table/cart.svg")
					span В корзину
		.description
			p Храните ваши любимые безделушки и другие личные вещи на полке «Лайн». Изделие изготовлено из прочного и легкого материала, который можно использовать для хранения практически чего угодно. Вы можете использовать ее для хранения небольших предметов либо книг.
			p  Вы также можете использовать ее в прихожей и гостиной. Установка полки занимает всего несколько минут. Полка выполнена в классическом черном декоре на черных консолях, что позволяет ей отлично вписаться в любой интерьер.   
			





				

