.item.material.mb
	h3 Материал столешницы
	ul
		li
			img(src="/assets/img/pages/table/material/01.jpg")
			span Дуб бардолино натуральный
		li
			img(src="/assets/img/pages/table/material/02.jpg")
			span Черное дерево
		li
			img(src="/assets/img/pages/table/material/03.jpg")
			span Сосна касцина
		li
			img(src="/assets/img/pages/table/material/04.jpg")
			span Сосна аланд полярная
		li
			img(src="/assets/img/pages/table/material/05.jpg")
			span Камень Пьетра Гриджиа черный	